{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Welocme to DataColl</title>
<body>
{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <input type="text" name="search" id="search" placeholder="Enter Company Name or Symbol">
</form>

{{ note }}


<br>
<br>
<br>

<table id="customers">
  <tr>
    <th>Title</th>
    <th> Description</th>
  </tr>
  <tr>
    <td>Market:Symbol</td>
    <td>{{symbol}}</td>
  </tr>
  <tr>
    <td>Treading Day</td>
    <td>{{ltrday}}</td>
  </tr>
  <tr>
    <td>Current Price/Today's Close</td>
    <td>{{price}}</td>
  </tr>
  <tr>
    <td>Open</td>
    <td>{{open}}</td>
  </tr>
  <tr>
    <td>Previous Close</td>
    <td>{{pclose}}</td>
  </tr>
  <tr>
    <td>High</td>
    <td>{{high}}</td>
  </tr>
  <tr>
    <td>Low</td>
    <td>{{low}}</td>
  </tr>
  <tr>
    <td>Change</td>
    <td>{{change}}</td>
  </tr>
  <tr>
    <td>Change in %</td>
    <td>{{changep}}</td>
  </tr>
  <tr>
    <td>Volume</td>
    <td>{{volume}}</td>
  </tr>
</table>
<br>
<br>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    },
    {
      "description": "NIFTY50",
      "proName": "NSE:NIFTY"
    }
  ],
  "colorTheme": "light",
  "isTransparent": true,
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->

<div id="image">
<img src="{{ image }}"width=100%>
  </div>
<br>
<br>
<div id="uri1">
<img src="{{ uri1 }}"width=100%>
  </div>
<br>
<br>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    },
    {
      "description": "NIFTY50",
      "proName": "NSE:NIFTY"
    }
  ],
  "colorTheme": "light",
  "isTransparent": true,
  "largeChartUrl": "http://34.221.203.31/",
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->
<img src="{{ image_pre }}"width=100%>
<br>
<br>
CA
The predicated AVG for Next Day {{ca}}
/CA
<br>
<br>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    },
    {
      "description": "NIFTY50",
      "proName": "NSE:NIFTY"
    }
  ],
  "colorTheme": "light",
  "isTransparent": true,
  "largeChartUrl": "http://34.221.203.31/",
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->
<div id="">
<img src="{{ sma_ch }}"width=100%>
  </div>
<br>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    },
    {
      "description": "NIFTY50",
      "proName": "NSE:NIFTY"
    }
  ],
  "colorTheme": "light",
  "isTransparent": true,
  "largeChartUrl": "http://34.221.203.31/",
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->

{% for new, source in news.items %}


<div class="news_container">
  <img src="https://source.unsplash.com/random" alt="Avatar" style="width:90px">
  <p><span>{{new}}</span></p>
  <p>Source/Time:- {{source}}</p>
</div>


{% endfor %}





<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    },
    {
      "description": "NIFTY50",
      "proName": "NSE:NIFTY"
    }
  ],
  "colorTheme": "light",
  "isTransparent": true,
  "largeChartUrl": "http://34.221.203.31/",
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget END -->




<style>
.news_container {
border: 2px solid #ccc;
background-color: #eee;
border-radius: 5px;
padding: 16px;
margin: 16px 0
}

.news_container::after {
content: "";
clear: both;
display: table;
}

.news_container img {
float: left;
margin-right: 20px;
border-radius: 50%;
}

.news_container span {
font-size: 20px;
margin-right: 15px;
}

@media (max-width: 500px) {
.news_container {
    text-align: center;
}
.news_container img {
    margin: auto;
    float: none;
    display: block;
}
}
</style>

<div id="">
<img src="{{ pia_chart }}"width=100% height="500">
</div>


<br>
<br>
<br>




<script>
<br>
  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  <script>
      $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
      });



</script>

{% endblock %}

</body>

</html>