{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Welocme to DataColl</title>
</head>
<body>
{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <input type="text" name="search" id="search" placeholder="Enter Company Name or Symbol">
</form>

{{ note }}

</body>
</html>
<br>
<br>
<br>

<table id="customers">
  <tr>
    <th>Title</th>
    <th> Description</th>
  </tr>
  <tr>
    <td>Market:Symbol</td>
    <td>{{symbol}}</td>
  </tr>
  <tr>
    <td>Treading Day</td>
    <td>{{ltrday}}</td>
  </tr>
  <tr>
    <td>Current Price/Today's Close</td>
    <td>{{price}}</td>
  </tr>
  <tr>
    <td>Open</td>
    <td>{{open}}</td>
  </tr>
  <tr>
    <td>Previous Close</td>
    <td>{{pclose}}</td>
  </tr>
  <tr>
    <td>High</td>
    <td>{{high}}</td>
  </tr>
  <tr>
    <td>Low</td>
    <td>{{low}}</td>
  </tr>
  <tr>
    <td>Change</td>
    <td>{{change}}</td>
  </tr>
  <tr>
    <td>Change in %</td>
    <td>{{changep}}</td>
  </tr>
  <tr>
    <td>Volume</td>
    <td>{{volume}}</td>
  </tr>
</table>
<br>
<br>
<div id="image">
<img src="{{ image }}"width=100%>
  </div>
<br>
<br>
<div id="uri1">
<img src="{{ uri1 }}"width=100%>
  </div>
<br>
<br>
<img src="{{ image_pre }}"width=100%>
<br>
<br>
CA
The predicated AVG for Next Day {{ca}}
/CA
<br>
<br>
<div id="">
<img src="{{ sma_ch }}"width=100%>
  </div>
<br>
<div id="">
<img src="{{ pia_chart }}"width=50%>
  </div>
{% for new in news %}
{{new}}
{{new.index}}
<br>
<br>
<br>
{% endfor %}

<br>
    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>

{% endblock %}

</body>

</html>